body {
  background: #352f5b;
}
.container {
  max-width: 400px;
}

div .input-container {
  background: rgba(0,0,0,0.2);
  max-width: 400px;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  background-color: transparent;
  border: none;
}

.todos li {
  background: #423a6f;
}

.todos li span {
  overflow-wrap: anywhere;
}

.delete {
  cursor: pointer;
}